:root {
	--primary: orangered;
	--secondary: white;
	--background: #dcbe2b;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	background-image: url(/static/img/mv-golden-ray-bw.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

.bg {
	animation: fadeBg 30s infinite alternate; 
	background-color: var(--background);
	background-blend-mode: multiply;
	background-image: url(/static/img/3236px-Coast_Guard_rescue_Golden_Ray_169.jpg);
	background-size: cover;
	height: 100vh;
	position: absolute;
	top: 0;
	width: 100vw;
}

@keyframes fadeBg {	
	0%, 45% {
   		opacity: 0;
	}
	55%, 100% {
   		opacity: 1;
	}
}

small {
	font-size: .7rem;
}

main img {
	width: 100%;
}

p {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	padding: 1em;
	font-family: 'Ballet', cursive;
	text-align: center;
	z-index: 2;
}

footer {
	color: rgba(255,255,255,.7);
	padding: 1em;
	font-family: 'Abril Fatface', sans-serif;
	line-height: 1;
	text-align: center;
	z-index: 2;
}

footer a[href],
footer a[href]:visited {
	color: var(==secondary);
	opacity: .75;
}

h1 {
	background: white;
	font-family: 'Abril Fatface', sans-serif;
	font-size: 1.75em;
	line-height: 1;
	margin: -.5em -.5em .5em;
	padding: .5em;
}

h2 {
	font-family: 'Abril Fatface', sans-serif;
	font: size: 1.2rem;
	line-height: 1;
}

main {
	background-color: rgba(255,255,255,.65);
	font-family: 'Source Serif Pro', serif;
	margin: 0 auto;
	max-width: 50em;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1em;
	width: 90%;
	z-index: 2;
}

/* Header Logo (style as h2) this is fine. */
header > em {
	display: block;
	font-size: 1.5em;
	line-height: 1;
	margin: .67em 0;
	font-style: normal;
	text-shadow: 2px 2px 0 gold;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	font-family: 'Abril Fatface', sans-serif;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

.slide {
	width: 100%;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  	vertical-align: text-top;
  	text-transform: uppercase;
	letter-spacing: .1em;
  	font-size: .625em;
  	padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  	border-radius: .25em;
  	text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  	display: grid;
}

form label {
  	display: none;
}

input, textarea {
	background-color: rgba(255,255,255,.5);
}

input,
textarea,
button {
  	width: 100%;
  	padding: 1em;
  	margin-bottom: 1em;
	font-size: 1rem;
	font-family: 'Abril Fatface', sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

	header {
		font-family: 'Ballet', cursive;
	}

	header > em, h1 {
		font-size: 2em;
	}

	main {
		overflow-y: auto;
		width: 70%;
	}

	.slide {
		display: flex; 
		flex-wrap: nowrap; 
		width: 100%;
	}

	.slide div {
		margin-right: 1em;
	}
}
