<footer>
  <small>
    <a href="/photo-credits">&copy; Golden Ray.</a> All rights reserved.  <a href="/photo-credits">Photo Credits.</a> Site design and development by <a href="https://davidrhoden.com/web" target="_blank">Ninth Ward Digital Laboratory.</a>
  </small>
</footer>
