<section>
	{% for show in showslist %}
		<article{% if show.url == url %} data-current="current item"{% endif %}>
			{% if show.data.image %}
				<a href="{{ show.url | url }}">
					<img src="{{ show.data.image }}" alt="{{ show.data.title }}">
				</a>
			{% endif %}
			<h3>
				<a href="{{ show.url | url }}">
					{% if show.data.title %}
						{{ show.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if show.data.summary %}
				<p>
					{{ show.data.summary }}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
