---
layout: layouts/base.njk
section: show
---

<article>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}

    {% if summary %}
      <p>
        {{ summary }}
      </p>
    {% endif %}
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>
</article>

<nav>
  <a href="{{ '/shows/' | url }}">← Shows index</a>
</nav>
