---
layout: layouts/base.njk
section: shows
---

<article>
  <h1>{{ title }}</h1>

  {{ layoutContent | safe }}

    {% if summary %}
      <p>
        {{ summary }}
      </p>
    {% endif %}
</article>

<nav>
  <a href="{{ '/shows/' | url }}">← Shows index</a>
</nav>
